<mat-toolbar color="primary" class="md-tall">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="md-24" class="example-icon">menu</mat-icon>
  </button>
  <span>LOGO</span>

  <span class="example-spacer"></span>

  <div *ngIf="!isAuthenticated;then gotoSignIn else alreadySignedIn"></div>

  <ng-template #alreadySignedIn>
    <mat-icon class="md-24" class="example-icon">notifications</mat-icon>

    <mat-icon class="md-24" class="example-icon">mail_outline</mat-icon>

    <mat-icon class="md-24" class="example-icon">account_circle</mat-icon>

    <button mat-raised-button color="primary" (click)="signOut()">SignOut</button>

    <button mat-icon-button [matMenuTriggerFor]="menuUser">
      <mat-icon class="md-24">more_vert</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
      <button mat-menu-item color="primary">
        <mat-icon class="md-18">account_circle</mat-icon>
        <span>Account info</span>
      </button>
      <hr>
      <button mat-menu-item color="primary">
        <mat-icon class="md-18">face</mat-icon>
        <span>Profile info</span>
      </button>

      <button mat-menu-item color="primary">
        <mat-icon class="md-18">compare_arrows</mat-icon>
        <span>Menthality Match info</span>
      </button>

      <button mat-menu-item color="primary">
        <mat-icon class="md-18">payment</mat-icon>
        <span>Payment info</span>
      </button>
      <hr>
      <button mat-menu-item color="primary">
        <mat-icon class="md-18">exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </ng-template>

  <ng-template #gotoSignIn>
    <button mat-raised-button color="primary" (click)="signIn()">Signin</button>
    <button mat-raised-button color="primary">SignUp</button>
  </ng-template>

</mat-toolbar>

<mat-sidenav-container class="example-sidenav-fab-container">

  <mat-sidenav #sidenav mode="over">
    <!-- sidenav content -->
    <mat-nav-list>
      <mat-list-item><a href="page1.html">Dashboard</a></mat-list-item>
      <mat-list-item><a href="page2.html">Page 2</a></mat-list-item>
      <mat-list-item><a href="page3.html">Page 3</a></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>

  <!-- primary content -->
</mat-sidenav-container>



